@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Charm&family=Dancing+Script:wght@500&family=Eczar&family=Kanit:wght@200&family=Lobster&family=Marck+Script&family=Oxanium:wght@300&display=swap");
:root {
  --bgclr: #333;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}
.container {
  padding: 0px 8%;
}
.title {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  /* background: #333; */
}

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
  height: 80px;
  width: 100%;
  color: #fff;
  background-color: var(--bgclr);
  box-shadow: 0 0 10px #454545;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 6px;
  overflow: hidden;
  background: transparent;
}
nav ul li {
  margin: 0px 20px;
  background: transparent;
}
nav ul li a {
  background: transparent;
  position: relative;
  text-transform: uppercase;
  padding: 4px 3px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
  border-bottom: 2px solid #eeeeee;
}
nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -106%;
  border-top: 2px solid #eee;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(92, 92, 105);
  z-index: -1;
  visibility: hidden;
  transition: 0.4s;
}
nav ul li:hover a::before {
  bottom: 0%;
  visibility: visible;
}
.nav-login-block {
  width: 150px;
}
.login {
  padding: 3px 10px;
  color: #fff;
  color: #17252a;
  background-color: #fff;
  border: 2px solid #ebebeb;
  transition: 0.4s;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  left: 50%;
  transition: 0.4s;
}
.login:hover {
  background: transparent;
  box-shadow: 0 0 5px #ebebeb;
  border: 2px solid #ebebeb;
  color: #fff;
  padding: 5px 10px;
}
.login::before {
  content: "";
  transition: 0.4s;
  transform: translate(-50%, -50%);
  height: 5px;
  width: 45px;
  background-color: transparent;
  opacity: 0;
}
.login:hover::before {
  height: 50px;
  opacity: 1;
  background-color: var(--bgclr);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.login::after {
  content: "";
  transition: 0.4s;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 7px;
  background-color: transparent;
  opacity: 0;
}
.login:hover::after {
  opacity: 1;
  background-color: var(--bgclr);
  position: absolute;
  width: 90px;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.login span {
  background: transparent;
  position: relative;
}
.login:hover span {
  color: #fff;
  z-index: 2;
  text-shadow: 0 0 2px #fff;
}
.section_home {
    height: 96vh;
    position: relative;
    padding-top: 80px;
    background-color: #454545;
  
  }
  .section_home::before {
    content: '';
    position: absolute;
    top: 0%;
    height: 100vh;
    width: 100%;
    background: url('images/back.svg');
    background-position: center;
    background-size: cover;
    z-index: 2;
  }
  .section_home .home_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    z-index: 2;
  }
  .section_home .home_container .homeP {
    height: 80%;
    width: 600px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 4px;
    /* background: #fff; */
  }
  .section_home .home_container img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0;
    right: 40px;
    z-index: 3;
  }
  .section_home .home_container .homeP span {
    width: 100%;
    /* background: #fff; */
    color: #17cd17;
    font-size: 70px;
    font-family: "belanosima", sans-serif;
    font-weight: 100;
    margin-bottom: 15px;
  }
  .section_home .home_container .homeP h1 {
    display: flex;
    /* background: red; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    text-transform: uppercase;
  }
  .section_home .home_container .homeP p {
    padding: 0px 60px;
    background: transparent;
    margin-top: 15px;
    color: #eee;
    font-size: 15px;
  }
  
  .section_home .home_container .homeP a {
    position: relative;
    top: 0;
    margin-top: 30px;
    text-decoration: none;
    color: #ffffffbc;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    background: #333;
    font-size: 15px;
    border: 2px solid #333;
    transition: 0.4s ease;
  }
  .section_home .home_container .homeP a:hover {
    background: #555;
    color: #fff;
    top: -3px;
    box-shadow: 0 0 6px #222;
    text-shadow: 0 0 1px #fff;
  }
  
  .section_home .home_container .homeImgbx {
    position: relative;
    left: -40px;
    top: 7%;
    height: 100%;
    width: 420px;
    /* background-color: #555; */
  }
  .section_home .home_container .homeImgbx .img1 {
    position: absolute;
    border-radius: 3px 30px 3px 60px;
    height: 250px;
    width: 180px;
    overflow: hidden;
    box-shadow: 0 0 5px 2px #17252a;
  }
  .section_home .home_container .homeImgbx .img1 img {
    position: relative;
    left: -10px;
    width: 120%;
    height: 100%;
  }
  .section_home .home_container .homeImgbx .img2 {
    position: absolute;
    top: 30%;
    right: 0;
    height: 300px;
    width: 200px;
    box-shadow: 0 0 5px 2px #17252a;
    border-radius: 30px 3px 70px 3px;
    overflow: hidden;
  }
  .section_home .home_container .homeImgbx .img2 img {
    position: relative;
    left: -69px;
    width: 200%;
    height: 100%;
  }
  .section_home .home_container .homeImgbx .img3 {
    position: absolute;
    left: -60px;
    top: 320px;
    height: 80px;
    width: 220px;
    background-color: #eee;
    box-shadow: 0 0 5px 4px #12b1a4 inset, 0 0 5px #3c3c3c;
    border: 2px solid #3c3c3c;
    border-radius: 30px 0px 30px 0px;
    animation: bounce 2s infinite;
  }
  
  .section_home .home_container .homeImgbx .img3 h4 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    text-transform: uppercase;
    font-family: cursive;
    color: #12b1a4;
  }
  .section_about {
    height: 1080px;
    width: 100%;
    padding: 80px 100px;
    position: relative;
    background: rgb(110, 104, 99);
    /* border: 5px solid black; */
  }
  
  .section_about::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: url('images/back2.svg');
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
  .section_about .about_container {
    display: flex;
    justify-content: space-around;
    height: 420px;
    width: 85%;
    margin-top: 20px;
    /* border: 2px dotted blue;   */
    z-index: 2;
    position: absolute;
  }
  .section_about .about_container .about_content {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: -5px -5px 15px rgba(225, 225, 225, 0.1),
    5PX 5PX 15PX rgba(0, 0, 0, .35),
    inset -5px -5px 15px rgba(225, 225, 225, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, .35);
    border-radius: 5px;
  }
  .list{
    list-style: none;
    text-align: center;
    /* border: 3px solid green; */
  }
  .list li{
    color: #ddd;
    padding: 4px;
  }
  .section_about .about_container .about_content p {
    color: #eee;
    text-align: center;
    opacity: 0.8;
  }
  .section_about .about_container .about_content a {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #ffffffbc;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 10px;
    background: #333;
    width: fit-content;
    font-size: 15px;
    border: 2px solid #333;
    transition: 0.4s ease;
  }
  .section_about .about_container .about_content a:hover {
    background: #454545;
    color: #fff;
    top: 13px;
    box-shadow: 0 0 6px #222;
    text-shadow: 0 0 1px #fff;
  }
  .section_about .heading {
    text-align: center;
    font-size: 2.3em;
    color: white;
    font-family: "League Spartan", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
  
  }
  .section_about .about_container .about-imgbx {
    width: 50%;
    height: 300px;
    overflow: hidden;
    border: 2px solid red;
  }
  .section_about .about_container .about-imgbx img {
    height: 100%;
    width: 100%;
  }
  .section_about .about-end {
    position: absolute;
    z-index: 3;
    height: 150px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;  
    /* border: 2px solid red; */
  
  }
  .section_about .about-end h4 {
    position: absolute;
    top: -30px;
    color: #fff;
    font-size: 1.5em;
  }
  /* --- Start progress bar --- */
  
  .slider_heading { 	
    /* border: 2px solid red; */
    color:#eee;
    font-weight:700;
    margin-top:240px;	 
    text-align:center;
    text-transform:uppercase;
    letter-spacing:4px;
    line-height:23px;
  }
  
  .process-wrapper {
    margin:auto;
    max-width:1080px;
  }
  
  #progress-bar-container {
    position:relative;
    width:90%;
    margin:auto;
    height:100px;
    margin-top:50px;
  }
  
  #progress-bar-container ul {
    padding:0;
    margin:0;
    padding-top:15px;
    z-index:9999;
    position:absolute;
    width:100%;
    margin-top:-40px
  }
  
  #progress-bar-container li:before {
    content:"";
    display:block;
    margin:auto;
    width:30px;
    height:30px;
    border-radius:50%;
    border:solid 2px #aaa;
    transition:all ease 0.3s;
  }
  .step-inner ion-icon{
    position: absolute;
    top: -40.1px;
    /* right: 70.24px; */
    /* bottom: 50%; */
    right: 42.5%;
    /* transform: translate(-50%,-50%); */
    font-size: 26px;
  }
  
  #progress-bar-container li.active:before, #progress-bar-container li:hover:before {
    border:solid 2px #fff;
    background: linear-gradient(to right, #E91E63 0%,#fff 100%); 
    background: linear-gradient(red,yellow); 
  }
  
  #progress-bar-container li {
    list-style:none;
    float:left;
    width:20%;
    text-align:center;
    color:#888;
    text-transform:uppercase;
    font-size:11px;
    cursor:pointer;
    font-weight:700;
    transition:all ease 0.2s;
    vertical-align:bottom;
    height:60px;
    position:relative;
  }
  
  #progress-bar-container li .step-inner {
    position:absolute;
    width:100%;
    bottom:0;
    font-size: 14px;
  }
  
  #progress-bar-container li.active, #progress-bar-container li:hover {
    color:#fff;
  }
  
  #progress-bar-container li:after {
    content:" ";
    display:block;
    width:6px;
    height:6px;
    background:#777;
    margin:auto;
    border:solid 7px #fff;
    border-radius:50%;
    margin-top:40px;
    box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
    transition:all ease 0.2s;
       
  }
  
  #progress-bar-container li:hover:after {
    background:#555;
  }
  
  #progress-bar-container li.active:after {
    background:#207893;
  }
  
  #progress-bar-container #line {
    width:80%;
    margin:auto;
    background: #eee;
    height:6px;
    position:absolute;
    left:10%;
    top:57px;
    z-index:1;
    border-radius:50px;
    transition:all ease 0.9s;
  }
  
  #progress-bar-container #line-progress {
    content:" ";
    width:3%;
    height:100%;
    background: #207893;	 
    background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
    position:absolute;
    z-index:2;
    border-radius:50px;
    transition:all ease 0.9s;
  }
  
  #progress-content-section {
    width:90%;
    margin: auto;
    background: #f3f3f3;
    border-radius: 4px;
  }
  
  #progress-content-section .section-content {
    padding:30px 40px;
    text-align:center;
  }
  
  #progress-content-section .section-content h2 {
    font-size:17px;
    text-transform:uppercase;
    color:#333;
    letter-spacing:1px;
  }
  
  #progress-content-section .section-content p {
    font-size:16px;
    line-height:1.8em;
    color:#777;
  }
  
  #progress-content-section .section-content {
    display:none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    transform:translateY(15px);
    opacity:0;
  }
  
  #progress-content-section .section-content.active {
    display:block;
  }
  
  @keyframes FadeInUp {
    0% {
      transform:translateY(15px);
      opacity:0;
    }
    
    100% {
      transform:translateY(0px);
      opacity:1;
    }
  }
  .section_test {
    height: 98%;
    background: #3d3c3c;
    position: relative;
    padding: 80px 100px;
  }
  .section_test::before {
    content: "";
    position: absolute;
    background: url('images/back3.svg');
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .section_test .test_container {
    position: relative;
    z-index: 1;
    /* border: 2px solid red; */
    height: 100%;
    padding: 20px;
  }
  .section_test .test_container .heading{
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    font-family: "League Spartan", sans-serif;
    text-align: center;
    font-size: 3em;
    color: rgb(42, 173, 255);
    font-weight: 800;
    /* margin-bottom: 20px; */
  }
  .section_test h2{
      font-size: 2em;
      color: #fffefeda;
      text-align: center;
      opacity: .9;
  
  }
  .section_test .test_container p{
      padding:  7px 30px;  
      color: #ffffffc8;
      text-align: center;
      opacity: .9;
  }
  
  .section_test .test_container .test_info{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 10px 0;
      background-color:#3334;
      position: relative;
  }
  .section_test .test_container .test_info .left_part,
  .section_test .test_container .test_info .mid_part,
  .section_test .test_container .test_info .right_part{
      /* border: 2px solid red; */
      padding: 20px;
      font-family: "Roboto", sans-serif;
  }
  .section_test .test_container .test_info .left_part h4,
  .section_test .test_container .test_info .mid_part h4,
  .section_test .test_container .test_info .right_part h4{
      font-size: 1.2em;
      margin-bottom: 10px;
  }
  .section_test .test_container .test_info .left_part ul li,
  .section_test .test_container .test_info .mid_part ul li,
  .section_test .test_container .test_info .right_part ul li{
      font-size: 1em;
      padding: 5px 0;
  }
  .section_test .test_container a{
      height: 36px;
      width: 100px;
      background: #343434;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      text-decoration: none;
      color: White;
      transition: .5s;
      outline: none;
      margin: 10px 0;
  }
  .section_test .test_container a:hover{
      background: #777;
      border: 2px solid #343434;
      color: #222;
  }
  .section_contact {
    height: 99vh;
    position: relative;
    background: #343434;
    padding: 80px 100px;
    color: #000;
  }
  .section_contact::before {
    content: "";
    position: absolute;
    background: url('images/back4.svg');
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: drop-shadow(0 2px 0.8px #777);
  }
  .section_contact .contact_container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 97%;
    /* width: 88%; */
    padding: 25px;
    display: flex;
    gap: 30px;
  }
  
  .section_contact .contact_container .contact_info {
    width: 40%;
    border: 2px solid #777;
    padding: 10px;
    border-radius: 0 30px 0 30px;
    position: relative;
    overflow: hidden;
    transition: .3s;
    /* filter: drop-shadow( 0 2px 8px #777);  */
  }
  .section_contact .contact_container .contact_info:hover{
    box-shadow: 0 0 5px #eeeeee9b;
  }
  .section_contact .contact_container .contact_info .heading {
    font-size: 2em;
    color: #eee;
    letter-spacing: 1px;
    font-family: "League Spartan", sans-serif;
    padding: 16px 0;
  }
  .section_contact .contact_container .contact_info p {
    color: #eee;
    opacity: 0.8;
    font-size: 1.2em;
  }
  .section_contact .contact_container .contact_info .wrap {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-left: 5px;
    font-size: 16px;
    color: #eee;
    opacity: 0.8;
    padding: 20px 0px;
  }
  .section_contact .contact_container .contact_info .wrap .wrap-item {
    padding: 5px 0;
    display: flex;
    align-items: center;
    opacity: 0.8;
    color: #ddd;
    font-size: 1em;
    transition: 0.5s;
  }
  .section_contact .contact_container .contact_info .wrap .wrap-item:hover {
    color: white;
    opacity: 1;
  }
  .section_contact .contact_container .contact_info .wrap .wrap-item ion-icon {
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    color: black;
    font-size: 1em;
    transition: 0.5s;
  }
  .section_contact
    .contact_container
    .contact_info
    .wrap
    .wrap-item:hover
    ion-icon {
    background-color: #17cd17;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    color: #eee;
  }
  .section_contact .contact_container .contact_info .wrap span {
    padding-left: 10px;
  }
  .section_contact .contact_container .contact_info .wrapper {
    position: absolute;
    bottom: 30px;
    left: 20px;
  }
  .section_contact .contact_container .contact_info .wrapper .socialbx ion-icon {
    top: 0;
  }
  .section_contact
    .contact_container
    .contact_info
    .wrapper
    .socialbx:hover
    ion-icon {
    color: #eee;
  }
  .section_contact .contact_container .contact_form {
    width: 60%;
    border: 2px solid #777;
    border-radius: 30px 0 30px 0;
    /* padding: 20px; */
    position: relative;
    transition: .3s;
  }
  .section_contact .contact_container .contact_form:hover{
    box-shadow: 0 0 5px #eeeeee9b;
  }
  .section_contact .contact_container .contact_form form {
    height: 100%;
    padding: 20px 20px;
  }
  .section_contact .contact_container .contact_form form div {
    margin-bottom: 15px;
  }
  .section_contact .contact_container .contact_form form div label {
    color: white;
    padding: 5px 0;
  }
  .dimaag_kharb {
    display: flex;
    justify-content: space-between;
  }
  .section_contact .contact_container .contact_form form div input {
    height: 40px;
    width: 295px;
    font-size: 1.2em;
    color: #777;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 4px;
  }
  .section_contact .contact_container .contact_form form div textarea {
    height: 120px;
    width: 100%;
    font-size: 1.2em;
    color: #777;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    border-radius: 4px;
    background-color: rgba(30, 30, 30, 0.5);
  }
  .section_contact .contact_container .contact_form form div input:focus,
  .section_contact .contact_container .contact_form form div textarea:focus {
    color: aliceblue;
  }
  .section_contact .contact_container .contact_form form div span {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #000;
  }
  .section_contact .contact_container .contact_form form div .submit-btn {
    height: 30px;
    width: 100px;
    text-transform: uppercase;
    font-size: 1em;
    border: none;
    transition: 0.3s;
    position: relative;
  }
  .section_contact .contact_container .contact_form form div .submit-btn:hover {
    background: #666;
    color: rgba(255, 255, 255, 0.756);
  }
  ion-icon {
    color: #eee;
  }
  footer {
    position: absolute;
    background: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    color: #fff;
    gap: 80px;
    padding: 50px 100px 30px 100px;
  }
  footer .footer-top {
    display: grid;
    grid-template-columns: 350px 230px 200px 300px;
  }
  footer .footer-top .brand .brand-name {
    color: aquamarine;
    font-size: 2.5em;
  }
  footer .footer-top .brand .brand-description {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    margin-left: 5px;
    width: 80%;
    font-size: 15px;
    padding: 10px 0px 10px 0px;
  }
  footer .footer-top .brand .wrap .wrap-item {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-left: 5px;
    font-size: 16px;
    color: #777;
    padding: 3px 0px;
    display: flex;
    align-items: center;
  }
  footer .footer-top .brand .wrap .wrap-item ion-icon {
    color: #777;
  }
  footer .footer-top .brand .wrap .wrap-item span {
    padding-left: 10px;
  }
  footer .footer-top .web-links {
    padding: 10px 0px;
  }
  footer .footer-top .web-links ul {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-left: 5px;
    list-style: none;
  }
  footer .footer-top .web-links ul li {
    margin: 13px 0px;
  }
  footer .footer-top .web-links ul li a {
    text-decoration: none;
    font-style: none;
    color: #777;
  }
  footer .footer-top .web-links ul li a:hover {
    color: #eee;
  }
  footer .footer-top .otherlinks {
    padding: 10px 0px;
  }
  footer .footer-top .otherlinks ul {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-left: 5px;
    list-style: none;
  }
  footer .footer-top .otherlinks ul li {
    margin: 13px 0px;
  }
  footer .footer-top .otherlinks ul li a {
    text-decoration: none;
    font-style: none;
    color: #777;
  }
  footer .footer-top .otherlinks ul li a:hover {
    color: #eee;
  }
  footer .footer-top .social-links {
    padding: 10px 0px;
  }
  footer .footer-top .social-links p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 15px;
  }
  footer .footer-top .footer-title{
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    margin-bottom: 20px;  
  }
  .wrapper {
    margin-top: 10px;
    display: flex;
  }
  .wrapper .socialbx {
    position: relative;
    border-radius: 50%;
    margin: 0px 7px;
    height: 30px;
    width: 30px;
  }
  .wrapper .socialbx ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 26px;
    width: 26px;
    color: #666;
    transition: 0.4s ease;
  }
  .wrapper .socialbx:hover ion-icon {
    top: 35%;
  }
  .wrapper .socialbx:hover:nth-child(1) ion-icon {
    color: #4267b2;
  }
  .wrapper .socialbx:hover:nth-child(2) ion-icon {
    color: #c13584;
  }
  .wrapper .socialbx:hover:nth-child(3) ion-icon {
    color: #1da1f2;
  }
  .wrapper .socialbx:hover:nth-child(4) ion-icon {
    color: #2867b2;
  }
  .wrapper .socialbx:hover:nth-child(5) ion-icon {
    color: #ff0000;
  }
  
  footer .copyright {
    font-family: "League Spartan", sans-serif;
  }    
  
    