@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Charm&family=Dancing+Script:wght@500&family=Eczar&family=Kanit:wght@200&family=Lobster&family=Marck+Script&family=Oxanium:wght@300&display=swap");
:root {
  --bgclr: #333;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}
.container {
  padding: 0px 8%;
}
.title {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  /* background: #333; */
}

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
  height: 80px;
  width: 100%;
  color: #fff;
  background-color: var(--bgclr);
  box-shadow: 0 0 10px #454545;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 6px;
  overflow: hidden;
  background: transparent;
}
nav ul li {
  margin: 0px 20px;
  background: transparent;
}
nav ul li a {
  background: transparent;
  position: relative;
  text-transform: uppercase;
  padding: 4px 3px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
  border-bottom: 2px solid #eeeeee;
}
nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -106%;
  border-top: 2px solid #eee;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(92, 92, 105);
  z-index: -1;
  visibility: hidden;
  transition: 0.4s;
}
nav ul li:hover a::before {
  bottom: 0%;
  visibility: visible;
}
.nav-login-block {
  width: 150px;
}
.login {
  padding: 3px 10px;
  color: #fff;
  color: #17252a;
  background-color: #fff;
  border: 2px solid #ebebeb;
  transition: 0.4s;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  left: 50%;
  transition: 0.4s;
}
.login:hover {
  background: transparent;
  box-shadow: 0 0 5px #ebebeb;
  border: 2px solid #ebebeb;
  color: #fff;
  padding: 5px 10px;
}
.login::before {
  content: "";
  transition: 0.4s;
  transform: translate(-50%, -50%);
  height: 5px;
  width: 45px;
  background-color: transparent;
  opacity: 0;
}
.login:hover::before {
  height: 50px;
  opacity: 1;
  background-color: var(--bgclr);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.login::after {
  content: "";
  transition: 0.4s;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 7px;
  background-color: transparent;
  opacity: 0;
}
.login:hover::after {
  opacity: 1;
  background-color: var(--bgclr);
  position: absolute;
  width: 90px;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.login span {
  background: transparent;
  position: relative;
}
.login:hover span {
  color: #fff;
  z-index: 2;
  text-shadow: 0 0 2px #fff;
}
.section_home {
    height: 96vh;
    position: relative;
    padding-top: 80px;
    background-color: #454545;
  
  }
  .section_home::before {
    content: '';
    position: absolute;
    top: 0%;
    height: 100vh;
    width: 100%;
    background: url('images/back.svg');
    background-position: center;
    background-size: cover;
    z-index: 2;
  }
  .section_home .home_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    z-index: 2;
  }
  .section_home .home_container .homeP {
    height: 80%;
    width: 600px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 4px;
    /* background: #fff; */
  }
  .section_home .home_container img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0;
    right: 40px;
    z-index: 3;
  }
  .section_home .home_container .homeP span {
    width: 100%;
    /* background: #fff; */
    color: #17cd17;
    font-size: 70px;
    font-family: "belanosima", sans-serif;
    font-weight: 100;
    margin-bottom: 15px;
  }
  .section_home .home_container .homeP h1 {
    display: flex;
    /* background: red; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    text-transform: uppercase;
  }
  .section_home .home_container .homeP p {
    padding: 0px 60px;
    background: transparent;
    margin-top: 15px;
    color: #eee;
    font-size: 15px;
  }
  
  .section_home .home_container .homeP a {
    position: relative;
    top: 0;
    margin-top: 30px;
    text-decoration: none;
    color: #ffffffbc;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    background: #333;
    font-size: 15px;
    border: 2px solid #333;
    transition: 0.4s ease;
  }
  .section_home .home_container .homeP a:hover {
    background: #555;
    color: #fff;
    top: -3px;
    box-shadow: 0 0 6px #222;
    text-shadow: 0 0 1px #fff;
  }
  
  .section_home .home_container .homeImgbx {
    position: relative;
    left: -40px;
    top: 7%;
    height: 100%;
    width: 420px;
    /* background-color: #555; */
  }
  .section_home .home_container .homeImgbx .img1 {
    position: absolute;
    border-radius: 3px 30px 3px 60px;
    height: 250px;
    width: 180px;
    overflow: hidden;
    box-shadow: 0 0 5px 2px #17252a;
  }
  .section_home .home_container .homeImgbx .img1 img {
    position: relative;
    left: -10px;
    width: 120%;
    height: 100%;
  }
  .section_home .home_container .homeImgbx .img2 {
    position: absolute;
    top: 30%;
    right: 0;
    height: 300px;
    width: 200px;
    box-shadow: 0 0 5px 2px #17252a;
    border-radius: 30px 3px 70px 3px;
    overflow: hidden;
  }
  .section_home .home_container .homeImgbx .img2 img {
    position: relative;
    left: -69px;
    width: 200%;
    height: 100%;
  }
  .section_home .home_container .homeImgbx .img3 {
    position: absolute;
    left: -60px;
    top: 320px;
    height: 80px;
    width: 220px;
    background-color: #eee;
    box-shadow: 0 0 5px 4px #12b1a4 inset, 0 0 5px #3c3c3c;
    border: 2px solid #3c3c3c;
    border-radius: 30px 0px 30px 0px;
    animation: bounce 2s infinite;
  }
  
  .section_home .home_container .homeImgbx .img3 h4 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    text-transform: uppercase;
    font-family: cursive;
    color: #12b1a4;
  }